name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: ${{ github.workspace }}   # permet: from src... / from service...
      APP_SKIP_STARTUP: "1"                 # empêche le chargement du modèle dans app.py

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install test deps (lightweight)
        run: |
          python -m pip install -U pip
          pip install pytest fastapi uvicorn httpx

      - name: Run tests (only tests/)
        run: pytest -q tests
